.navCadastro {
    margin: 10px auto;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.navCadastro button {
    background-color: #000;
    color: #fcfcfc;
    border-radius: 10px;
    font-weight: bold;
}